<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cake Desire</title>
</head>
<body>

<div style="text-align:center; justify-content: center;">
    <a href="{{url_for('Home')}}">
    <button>Home</button>
</a>
<a href="{{url_for('aboutUs')}}">
    <button>AboutUs</button>
</a>
<a href="{{url_for('service')}}">
    <button>services</button>
</a>
<a href="{{url_for('gallery')}}">
    <button>gallery</button>
</a>
<a href="{{url_for('Login')}}">
    <button>Login</button>
</a>
<a href="{{url_for('Registration')}}">
    <button>Registration</button>
</a>
<a href="{{url_for('Contact')}}">
    <button>Contact</button>
</div>
<h1>About us</h1>  
<p class="p1"><b>🧁</b>
Welcome to Cake Desire, where every bite is a celebration of sweetness and style. Founded with a passion for creating exquisite desserts, we specialize in crafting beautiful, handcrafted cakes and cupcakes that taste as delightful as they look.
At Cake Desire, baking is an art. Each creation is made with the finest ingredients, a touch of elegance, and a whole lot of love. Whether you’re celebrating a birthday, wedding, or simply indulging in life’s little pleasures, we’re here to make your moments deliciously unforgettable.
From our signature cupcakes to custom-designed cakes, every treat is a reflection of our commitment to quality, creativity, and customer happiness. Step into our world of soft sponge, rich cream, and sweet dreams—because at Cake Desire, your sweetest desires come to lif</b> 
<div style="text-align: center;justify-content: center;">
</div>
</body>
</html>