<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div style="text-align:center; justify-content: center;">
    <a href="{{url_for('Home')}}">
        <button>Home</button>
</a>
<a href="{{url_for('aboutUs')}}">
    <button>AboutUs</button>
</a>
<a href="{{url_for('service')}}">
    <button>services</button>
</a>
<a href="{{url_for('gallery')}}">
    <button>gallery</button>
</a>
<a href="{{url_for('Login')}}">
    <button>Login</button>
</a>
<a href="{{url_for('Registration')}}">
    <button>Registration</button>
</a>
<a href="{{url_for('Contact')}}">
    <button>Contact</button>
    <h1>Cake Desire's Gallery🧁</h1>
</div>  
<img src="https://th.bing.com/th/id/OIP.kF41zIfxX2nUQ3CQ7iHcaAHaFa?rs=1&pid=ImgDetMat" alt="image"  height="200" width="400">

<img src="https://th.bing.com/th/id/R.5d7970752402b91a4398f421be3e78c8?rik=0pcKGrbUzPC6yQ&pid=ImgRaw&r=0" alt="image(5)"  height="200" width="400">

<img src="https://thumbs.dreamstime.com/b/blue-birthday-cake-presents-hats-colorful-balloons-over-light-grey-94034395.jpg?w=768" alt="image(7)" height="200" width="400">

<img src="https://th.bing.com/th/id/OIP.hMolL9_vylZnGtRz-yX-HQHaJ4?rs=1&pid=ImgDetMain" alt="image(8)" height="200" width="400">

<img src="https://i.pinimg.com/736x/09/c0/7a/09c07a6349de4648d600a95bde606855.jpg"  alt="image(7)" height="200" width="400">

<img src="https://th.bing.com/th/id/OIP.fdKPKNzWOqN838mGM9-sYQHaJ4?rs=1&pid=ImgDetMain" alt="image%" height="200" width="400">

</body>
</html>





